<ion-header>
  <ion-toolbar>
    <ion-title>Add a Character</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="submit()">

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item-group formGroupName="date">
      <ion-item-divider>
        <ion-label>Date</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Year</ion-label>
        <ion-input type="number" formControlName="year"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Month</ion-label>
        <!-- <ion-input type="number" formControlName="month"></ion-input> -->
        <ion-select formControlName="month" #monthSelect (ionChange)="updateMonth($event)">
          <ion-select-option *ngFor="let month of months | enumToArray" value="{{month.value}}">
            {{month.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Day</ion-label>
        <ion-input type="number" formControlName="day" ></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-button type="submit" [disabled]="!formGroup.valid">Create!</ion-button>
  </form>
</ion-content>