<ion-content>
    <div>
        <ion-item-divider (click)="toggleBase()">
            <ion-label>
                Base Concoctions
            </ion-label>
        </ion-item-divider>
        <app-line-item *ngFor="let item of baseConcoctionsDisplay" [item]="item" [itemType]="'Base Concoction'"></app-line-item>
    </div>
    <div>
        <ion-item-divider (click)="toggleIngredients()">
            <ion-label>
                Ingredients
            </ion-label>
        </ion-item-divider>
        <app-line-item *ngFor="let item of ingredientsDisplay" [item]="item" [itemType]="'Ingredient'"></app-line-item>
    </div>
</ion-content>