<ion-header>
    <ion-toolbar>
        <ion-title>item</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div>
        Base Essences:
        <div *ngFor="let essence of displayItem.baseEssences">
            <div class="element-list-container">
                <ion-thumbnail><img [src]="getElement(essence.id)"></ion-thumbnail>
            </div>
        </div>
    </div>
    <div>
        Essences:
        <div *ngFor="let essence of displayItem.essences">
            <div class="element-list-container">
                <ion-thumbnail><img [src]="getElement(essence.id)"></ion-thumbnail>
            </div>
        </div>
    </div>
</ion-content>