<ion-header>
    <ion-toolbar>
        <ion-title>item</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div>
        Essences:
        <ion-list *ngFor="let essence of displayItem.baseEssences">
            {{essence.name}}
        </ion-list>
    </div>
</ion-content>`