<ion-content>
    <h1>Forage Ingredients</h1>


    <ion-item class="ion-margin">
        <ion-label>Forage Check:</ion-label>
        <ion-input type="number" [(ngModel)]="forageCheck"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>
            Location
        </ion-label>
        <ion-select multiple="true" [(ngModel)]="selectedBiomes">
            <ion-select-option *ngFor="let item of biomes" [value]="item.name">{{item.name}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button (click)="submit()" color="alchemyprimary">Forage</ion-button>

</ion-content>