<ion-header>
    <ion-toolbar>
        <ion-title>Alchemy Brewery</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>{{baseConcoction.name}}</ion-card-subtitle>
            <ion-card-title>{{concoction.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col size="6" *ngIf="concoction.DC">
                    Save DC: {{newConcoction.DC}} {{newConcoction.saveType.name}}
                </ion-col>
                <ion-col size="6" *ngIf="concoction.damageType">
                    {{newConcoction.dieNumber}}d{{newConcoction.dieType}} {{newConcoction.damageType.name}}
                </ion-col>
                <ion-col size="6" *ngIf="concoction.durationLength">
                    Duration: {{newConcoction.durationLength}} {{newConcoction.durationType}}
                </ion-col>
            </ion-row>

            <ion-row>
                <h2 ion-text>Base Effect</h2>
                <ion-text>{{baseConcoction.baseEffect}}</ion-text>
            </ion-row>
            <ion-row>
                <h2 ion-text>Concoction Effect</h2>
                <ion-text>{{concoction.effect}}</ion-text>
            </ion-row>
            <ion-row>
                <div class="section-container">
                    Base Essences:
                    <div *ngFor="let essence of baseConcoction.baseEssences">
                        <div class="base-element-list-container">
                            <ion-thumbnail><img [src]="getElement(essence.id)"></ion-thumbnail>
                        </div>
                    </div>
                </div>
            </ion-row>
            <ion-row>
                <div class="section-container">
                    Essences:
                    <div *ngFor="let essence of concoction.essences">
                        <div class="essence-element-list-container">
                            <ion-thumbnail><img [src]="getElement(essence.id)"></ion-thumbnail>
                        </div>
                    </div>
                </div>
            </ion-row>
            <ion-row>
                <div class="section-container">
                    Required Essences:
                    <div *ngFor="let item of requiredEssences">
                        <div class="essence-element-list-container">
                            <ion-thumbnail><img [src]="getElement(item.essence.id)"></ion-thumbnail>
                        </div>
                    </div>
                    {{requiredEssences | json}}
                </div>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item *ngFor="let item of ingredients">
            <ion-label>{{item.name}}</ion-label>
            <div *ngFor="let essence of item.essences">
                <div class="essence-element-list-container">
                    <ion-thumbnail><img [src]="getElement(essence.id)"></ion-thumbnail>
                </div>
            </div>
            <ion-checkbox slot="end" [(ngModel)]="item.checked" (ionChange)="select(item)"></ion-checkbox>
        </ion-item>
    </ion-list>

</ion-content>