<ion-header>
    <ion-toolbar>
        <ion-title>Alchemy Brewery</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="complete">
        <ion-fab-button>
            <ion-icon (click)="addToInventory()" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>{{baseConcoction.name}}</ion-card-subtitle>
            <ion-card-title>{{concoction.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col size="6" *ngIf="concoction.DC">
                    Save DC: {{newConcoction.DC}} {{newConcoction.saveType.name}}
                </ion-col>
                <ion-col size="6" *ngIf="concoction.damageType">
                    {{newConcoction.dieNumber}}d{{newConcoction.dieType}} {{newConcoction.damageType.name}}
                </ion-col>
                <ion-col size="6" *ngIf="concoction.durationLength">
                    Duration: {{newConcoction.durationLength}} {{newConcoction.durationType}}
                </ion-col>
                <ion-col size="6" *ngIf="baseConcoction.oilUses">
                    Oil Uses: {{newBaseConcoction.oilUses}}
                </ion-col>
                <ion-col size="6" *ngIf="baseConcoction.bombRadius">
                    Explosion Radius: {{newBaseConcoction.bombRadius}} ft
                </ion-col>
                <ion-col size="6" *ngIf="baseConcoction.dustArea">
                    Dust Area: {{newBaseConcoction.dustArea}} ft
                </ion-col>
            </ion-row>

            <ion-row>
                <h2 ion-text>Base Effect</h2>
                <ion-text>{{baseConcoction.baseEffect}}</ion-text>
            </ion-row>
            <ion-row>
                <h2 ion-text>Concoction Effect</h2>
                <ion-text>{{concoction.effect}}</ion-text>
            </ion-row>
            <ion-row>
                <div class="section-container">
                    Required Essences:
                    <div *ngFor="let item of requiredEssences">
                        <div class="essence-element-list-container">
                            <ion-thumbnail>
                                <img *ngIf="item.fulfilled" [src]="getElement(item.essence.name)">
                                <img *ngIf="!item.fulfilled" style="filter: grayscale(100%);"
                                    [src]="getElement(item.essence.name)">
                            </ion-thumbnail>
                        </div>
                    </div>
                </div>
            </ion-row>
            <ion-row>
                <ion-list *ngIf="requiredIngredients.length>0">
                    Required Ingredients:
                    <ion-row *ngFor="let item of requiredIngredients">
                        <ion-text *ngIf="item.fulfilled>0">- <s>{{item.display}}</s></ion-text>
                        <ion-text *ngIf="!item.fulfilled>0">- {{item.display}}</ion-text>
                    </ion-row>
                </ion-list>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item *ngFor="let item of ingredients">
            <ion-label>
                <h2>{{item.ingredient.name}}</h2>
                <p class="ion-text-wrap">{{item.ingredient.details}}</p>
            </ion-label>
            <div *ngFor="let essence of item.ingredient.essences">
                <div class="essence-element-list-container">
                    <ion-thumbnail><img [src]="getElement(essence.name)"></ion-thumbnail>
                </div>
            </div>
            <ion-checkbox slot="end" [(ngModel)]="item.checked" (ionChange)="select(item)"></ion-checkbox>
        </ion-item>
    </ion-list>

</ion-content>