<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>title</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Base concoction</ion-card-subtitle>
            <ion-card-title>Concoction</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col size="4">
                    Save DC: 10
                </ion-col>
                <ion-col size="4">
                    Con
                </ion-col>
                <ion-col size="4">
                    Damage Type: poison
                </ion-col>
                <ion-col size="4">
                    Damage: 1d6
                </ion-col>
                <ion-col size="4">
                    Duration: 10 minutes
                </ion-col>
            </ion-row>

            Description of base concoction.
        </ion-card-content>
    </ion-card>

    list of ingredients

</ion-content>