:root {
    --ion-color-gemtechprimary: #3EC0D3;
    --ion-color-gemtechprimary-rgb: 62,192,211;
    --ion-color-gemtechprimary-contrast: #000000;
    --ion-color-gemtechprimary-contrast-rgb: 0,0,0;
    --ion-color-gemtechprimary-shade: #37a9ba;
    --ion-color-gemtechprimary-tint: #51c6d7;

    --ion-color-gemtechsecondary: #816CF9;
    --ion-color-gemtechsecondary-rgb: 129,108,249;
    --ion-color-gemtechsecondary-contrast: #000000;
    --ion-color-gemtechsecondary-contrast-rgb: 0,0,0;
    --ion-color-gemtechsecondary-shade: #725fdb;
    --ion-color-gemtechsecondary-tint: #8e7bfa;

    --ion-color-gemtechtertiary: #6098E0;
    --ion-color-gemtechtertiary-rgb: 96,152,224;
    --ion-color-gemtechtertiary-contrast: #000000;
    --ion-color-gemtechtertiary-contrast-rgb: 0,0,0;
    --ion-color-gemtechtertiary-shade: #5486c5;
    --ion-color-gemtechtertiary-tint: #70a2e3;
}

.ion-color-gemtechprimary {
    --ion-color-base: var(--ion-color-gemtechprimary);
    --ion-color-base-rgb: var(--ion-color-gemtechprimary-rgb);
    --ion-color-contrast: var(--ion-color-gemtechprimary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gemtechprimary-contrast-rgb);
    --ion-color-shade: var(--ion-color-gemtechprimary-shade);
    --ion-color-tint: var(--ion-color-gemtechprimary-tint);
}

.ion-color-gemtechsecondary {
    --ion-color-base: var(--ion-color-gemtechsecondary);
    --ion-color-base-rgb: var(--ion-color-gemtechsecondary-rgb);
    --ion-color-contrast: var(--ion-color-gemtechsecondary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gemtechsecondary-contrast-rgb);
    --ion-color-shade: var(--ion-color-gemtechsecondary-shade);
    --ion-color-tint: var(--ion-color-gemtechsecondary-tint);
}

.ion-color-gemtechtertiary {
    --ion-color-base: var(--ion-color-gemtechtertiary);
    --ion-color-base-rgb: var(--ion-color-gemtechtertiary-rgb);
    --ion-color-contrast: var(--ion-color-gemtechtertiary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gemtechtertiary-contrast-rgb);
    --ion-color-shade: var(--ion-color-gemtechtertiary-shade);
    --ion-color-tint: var(--ion-color-gemtechtertiary-tint);
}