img{
    max-width: 1.5em;
    max-height: 1.5em;
}

.base-element-list-container{
    float: left;
    width: 2em;
}

.essence-element-list-container{
    float: left;
    width: 2em;
}

.section-container{
    clear: both;
    margin: auto;
    width: 100%;
}