<ion-header translucent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>title</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
        <app-alchemy-inventory></app-alchemy-inventory>
      </ion-slide>
      <ion-slide>
        <app-brew></app-brew>
      </ion-slide>
      <ion-slide>
        <app-forage></app-forage>
      </ion-slide>
      <ion-slide>
        <app-full-list></app-full-list>
      </ion-slide>
    </ion-slides>
  </ion-content>