<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper>
    <ng-template swiperSlide>
      <app-gemtech-inventory></app-gemtech-inventory>
    </ng-template>
    <ng-template swiperSlide>
      <app-full-list></app-full-list>
    </ng-template>
    <ng-template swiperSlide>
      <h1>another page</h1>
    </ng-template>
  </swiper>
</ion-content>
